
<h2><%= @message %></h2>

<div id="ttt_game">
  <table>
    <!-- top row -->
    <tr>
      <td> <!-- row 1, col 1 -->
        <a href='/move/0/0' id='00'>
          <div class="game_piece">
            <!-- <%= @board.find_mark(0, 0) %> -->
            <img src="/img/tile<%= @board.find_mark(0, 0) %>.png" alt="">
          </div>
        </a>
      </td>
      <td> <!-- row 1, col 2 -->
        <a href='/move/1/0' id='10'>
          <div class="game_piece">
            <img src="/img/tile<%= @board.find_mark(1, 0) %>.png" alt="">
          </div>
        </a>
      </td>
      <td>
        <a href='/move/2/0' id='20'>
          <div class="game_piece">
            <img src="/img/tile<%= @board.find_mark(2, 0) %>.png" alt="">
          </div>
        </a>
      </td>
    </tr>
    <!-- middle row -->
    <tr>
      <td>
        <a href='/move/0/1' id='01'>
          <div class="game_piece">
            <img src="/img/tile<%= @board.find_mark(0, 1) %>.png" alt="">
          </div>
        </a>
      </td>
      <td>
        <a href='/move/1/1' id='11'>
          <div class="game_piece">
            <img src="/img/tile<%= @board.find_mark(1, 1) %>.png" alt="">
          </div>
        </a>
      </td>
      <td>
        <a href='/move/2/1' id='21'>
          <div class="game_piece">
            <img src="/img/tile<%= @board.find_mark(2, 1) %>.png" alt="">
          </div>
        </a>
      </td>
    </tr>
    <!-- bottom row -->
    <tr>
      <td>
        <a href='/move/0/2' id='02'>
          <div class="game_piece">
            <img src="/img/tile<%= @board.find_mark(0, 2) %>.png" alt="">
          </div>
        </a>
      </td>
      <td>
        <a href='/move/1/2' id='12'>
          <div class="game_piece">
            <img src="/img/tile<%= @board.find_mark(1, 2) %>.png" alt="">
          </div>
        </a>
      </td>
      <td>
        <a href='/move/2/2' id='22'>
          <div class="game_piece">
            <img src="/img/tile<%= @board.find_mark(2, 2) %>.png" alt="">
          </div>
        </a>
      </td>
    </tr>
  </table>
</div>

<br />

<form action="/new_game" method="post">
  <button id="new_game" type="submit">New Game</button>
</form>
